<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>
<h2>Products</h2>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %></li>
    <li><%= product.id %></li>
    <p><%= link_to "Run a promotion for this product", hello_path %></p>
  <% end %>
</ul>

<hr>

<h2>Variants</h2>

<ul>
  <% @variants.each do |variant| %>
    <li><%= link_to variant.title, "https://#{@shop_session.url}/admin/variants/#{variant.id}", target: "_top" %></li>
  <% end %>
</ul>

<hr>